.crockpotCard {
    /* width: 200px;
    height: 200px; */
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #000;
    
    /* margin-bottom: 100px; */
}

.imgCrockpot {
    /* margin-bottom: 100px; */
    width: 200px;
    height: 200px;

}

.gordonRamsey {
    cursor: pointer;
    width: 300px;
    height: 300px;
}