 

.navLink{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 20px;
  border: none;
  cursor: pointer;  
  outline: 0; 
  margin-right: 10px;
  margin-left: 10px;
  border: none;
  background-color: transparent;
  outline: none;
}

.header {
  display: flex;
  flex-direction: column;
}


